body {
  background-color: beige;
}

.mainbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#kaffe {
  float: right;
  min-width:5rem;
  max-width: 10rem;
  height: 9rem;
}

.mainbox2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10vw;
  margin-right: 10vw;
  height: fit-content;
}

#data {
  float: left;
  height: 11rem;
}

nav {
  margin-top: 0;
  margin-bottom: 75px;
  background-color:rgba(206, 173, 237, 0.557);
  min-height: 100px;
  border-radius: 25px;
}


ul {
  list-style-type: none;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  background-color: rgba(72, 169, 137, 0.799);
  padding: 25px;
  border-radius: 25px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {color:rgba(72, 169, 137, 0.799);}

a:hover { background-color: rgb(124, 214, 214);}

article { 
  background-color: rgba(206, 173, 237, 0.557);
  border-radius: 15px;
  height: auto;
  width: auto;
  margin: 25px;
  text-align: center;
}

@media only screen and (max-width: 600px) 
{
.mainbox {
flex-direction: column;}

.mainbox2 {
flex-direction: column;
margin-left: 0vw;
margin-right: 0vw;
}

nav 
{
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
}

li {
  padding: 40px;
}

}