body {
    background-color: beige;
}

nav {
    margin: 0px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    min-height: 100px;
    border-radius: 25px;
}



li {
  display: flex;
  justify-self: space-evenly;
    list-style-type: none;
}

a {
    background-color: rgba(72, 169, 137, 0.799);
    padding: 25px;
    border-radius: 25px;
    text-decoration: none;
  }

main { 
    display: flex;
    justify-content: center;
}

  section
  {
    display: flex;
    justify-content: center;
    background-color: rgba(206, 173, 237, 0.557);
    border-radius: 25px;
    height: 300px;
    width: 300px;
  }

  @media only screen and (max-width: 600px) {
    nav {
      background-color: rgba(206, 173, 237, 0.557);
      border-radius: 0px;
      margin-top: 0;
      margin-bottom: 75px;
    }

    li {
      display:flex;
    justify-self: center;
    }
  }